

.project-main-container{
    display: grid;
  grid-template-columns: auto auto;
  padding: 90px;
  justify-content: space-between;
  background: #FFFFFF;
margin: 100px;
}
.project-grid-box {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 150px;
  row-gap: 100px;
  width: 50%;

  .box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    width: 500px;

    img {
      width: 500px;
      height: 500px;
      object-fit: cover;
    }
    .projectname {
      width: 100%;
      justify-content: end;
      background: #2947a9;

      h3 {
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
    }
  }
}
li{
    cursor: pointer;
}
.project-grid-box{
  position: relative;
}
.pagination{
  margin: 20px;
  button {
    margin: 10px;
    width: 100px;
  
  }
}
li{
  margin-bottom: 10px;
  cursor: pointer;
}